[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
app = "python -m projname"
format = "autopep8 --recursive --in-place ."
format-check = "autopep8 --exit-code --recursive --diff ."
lint = "pylint -f colorized projname/ tests/"
tests = "pytest -vv --doctest-modules ."
