[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
exe = "bin/projexe"
format = "autopep8 --recursive --in-place ."
format-check = "autopep8 --exit-code --recursive --diff ."
tests = "pytest --doctest-modules ."
